<head>
    <link rel="stylesheet" type='text/css' href="styles-template.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@200&display=swap" rel="stylesheet">
</head>

<div class='container'>
    <div id='sidebar'>
        <ul>
            <li class="logo">
                <a href="#" class="sidebar-link">
                    <i class="fa-solid fa-angles-right"></i>
                    <span class="link-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#" class="sidebar-link">
                    <i class="fa-solid fa-bars"></i>
                    <span class="link-text" id="adjust-item1">Menu</span>
                </a>
            </li>
            <li>
                <a href="#" class="sidebar-link">
                    <i class="fa-solid fa-chart-pie"></i>
                    <span class="link-text">Portfolio</span>
                </a>
            </li>
            <li>
                <a href="#" class="sidebar-link">
                    <i class="fa-solid fa-chart-line"></i>
                    <span class="link-text">Strategies</span>
                </a>
            </li>
            <li>
                <a href="#" class="sidebar-link">
                    <i class="fa-solid fa-wallet"></i>
                    <span class="link-text">Wallet</span>
                </a>
            </li>
            <li>
                <a href="#" class="sidebar-link">
                    <i class="fa-solid fa-network-wired"></i>
                    <span class="link-text" id="adjust-item2">Rewards</span>
                </a>
            </li>
            <li>
                <a href="#" class="sidebar-link">
                    <i class="fa-solid fa-chart-simple"></i>
                    <span class="link-text">Market Analysis</span>
                </a>
            </li>
            <li>
                <a href="#" class="sidebar-link">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span class="link-text">Logout</span>
                </a>
            </li>
        </ul>
    </div>
    <div id='content1'>
        <h2>Greetings User!</h2>
        <h3>At your location the temperature its 28.5C with sensation of 31C and relative humidity of 70%, also partly cloud.</h3>
    </div>
    <!-- <div id='content2'>
        <table>
            <tr>
                <th>Temperature (C)</th>
                <th>Termic Sensation (C)</th>
                <th>Humidity</th>
                <th>Weather Condition</th>
                <th>Sunrise</th>
                <th>Sunset</th>
            </tr>
            <tr>
                <td>28.5º</td>
                <td>31º</td>
                <td>70%</td>
                <td>Partly Cloud</td>
                <td>06:05:15</td>
                <td>18:11:12</td>
            </tr>
        </table> -->
    <div id='content4'>
        <li>Perfil</li>
        <li>
            <lord-icon
                src="https://cdn.lordicon.com/ajkxzzfb.json"
                trigger="hover"
                colors="primary:#e4e4e4,secondary:#848484"
                state="hover-looking-around"
                style="width:50px;height:50px">
            </lord-icon>
        </li>
    </div>
    <div id='content5'>
        <h3>SELIC: 13.71%</h3>
        <lord-icon
            src="https://cdn.lordicon.com/rgyftmhc.json"
            trigger="hover"
            colors="primary:#ffffff,secondary:#ffffff"
            stroke="50"
            style="width:70px;height:70px">
        </lord-icon>
    </div>
    <div id='content6'>
        <ul>
            <li>DÓLAR: R$5.26</li>
            <li>BITCOIN: R$144,514.07</li>
        </ul>
        <div style="margin-bottom: 10px;">
            <lord-icon
            src="https://cdn.lordicon.com/qhviklyi.json"
            trigger="hover"
            colors="primary:#ffffff,secondary:#e4e4e4"
            style="width:70px;height:80px">
        </lord-icon>
        </div>
    </div>
    <div id='content7'>
        <table>
            <tr>
                <th>IPCA Mensal</th>
                <th>IPCA Acumulado</th>
                <th>IPCA 12 Meses</th>
            </tr>
            <tr>
                <td>0.86%</td>
                <td>1.53%</td>
                <td>5.65%</td>
            </tr>
        </table>
    </div>
    <div id=content8>
        <h3 style="padding-bottom: 5px; margin:unset;">Highest Volumes</h3>
        <div class="wrapper">
            <!-- TODO: Com DJANGO Iterar usando o "FOR" -->
            <!-- TODO: Com DJANGO Iterar usando o "FOR" -->
            <!-- TODO: Com DJANGO Iterar usando o "FOR" -->
            <div class="columnA">
                <ul>
                    <li style="font-size: 14px;">VIA (VIIA3)</li>
                    <li style="font-size: 11px;">Sector: Technology</li>
                    <!-- Colocar um if para checar se o numero de Var e negativo ou positivo e mudar cor 
                    Triangulo positivo = <i claz222222222222ss="fa-solid fa-caret-up"></i> -->
                    <li style="font-size: 11px;">Close: R$2.09 Var: 1.45% <i class="fa-solid fa-caret-down" style="color: rgb(180, 0, 0);"></i></li>
                </ul>
            </div>
            <div class="columnB">
                <i class="fa-solid fa-chart-pie"></i>
            </div>
        </div>  
        <br>
        <div class="wrapper">
            <div class="columnA">
                <ul>
                    <li style="font-size: 14px;">PETROBRAS PN (PETR3)</li>
                    <li style="font-size: 11px;">Sector: Mineral Extraction</li>
                    <!-- Colocar um if para checar se o numero de Var e negativo ou positivo e mudar cor 
                    Triangulo positivo = <i class="fa-solid fa-caret-up"></i> -->
                    <li style="font-size: 11px;">Close: R$14.23 Var: 3.56% <i class="fa-solid fa-caret-down" style="color: rgb(180, 0, 0);"></i></li>
                </ul>
            </div>
            <div class="columnB">
                <i class="fa-solid fa-chart-pie"></i>
            </div>
        </div>  
        <br>
        <div class="wrapper">
            <div class="columnA">
                <ul>
                    <li style="font-size: 14px;">RAIZEN PN (RAIZ4)</li>
                    <li style="font-size: 11px;">Sector: Fabrics Industry</li>
                    <!-- Colocar um if para checar se o numero de Var e negativo ou positivo e mudar cor 
                    Triangulo positivo = <i class="fa-solid fa-caret-up"></i> -->
                    <li style="font-size: 11px;">Close: R$6.02 Var: -2.86% <i class="fa-solid fa-caret-down" style="color: rgb(180, 0, 0);"></i></li>
                </ul>
            </div>
            <div class="columnB">
                <i class="fa-solid fa-chart-pie"></i>
            </div>
        </div>  
        <br>
        <div class="wrapper">
            <div class="columnA">
                <ul>
                    <li style="font-size: 14px;">BRADESCO PN (BBDC3)</li>
                    <li style="font-size: 11px;">Sector: Banking</li>
                    <!-- Colocar um if para checar se o numero de Var e negativo ou positivo e mudar cor 
                    Triangulo positivo = <i class="fa-solid fa-caret-up"></i> -->
                    <li style="font-size: 11px;">Close: R$13.67 Var: 0.71% <i class="fa-solid fa-caret-down" style="color: rgb(180, 0, 0);"></i></li>
                </ul>
            </div>
            <div class="columnB">
                <i class="fa-solid fa-chart-pie"></i>
            </div>
        </div>
        <br>
        <div class="wrapper">
            <div class="columnA">
                <ul>
                    <li style="font-size: 14px;">AMBEV S.A (ABEV3)</li>
                    <li style="font-size: 11px;">Sector: Consumer Goods</li>
                    <!-- Colocar um if para checar se o numero de Var e negativo ou positivo e mudar cor 
                    Triangulo positivo = <i class="fa-solid fa-caret-up"></i> -->
                    <li style="font-size: 11px;">Close: R$11.32 Var: -0.20% <i class="fa-solid fa-caret-down" style="color: rgb(180, 0, 0);"></i></li>
                </ul>
            </div>
            <div class="columnB">
                <i class="fa-solid fa-chart-pie"></i>
            </div>
        </div>
        <br>
        <div class="wrapper">
            <div class="columnA">
                <ul>
                    <li style="font-size: 14px;">PETROBRAS PN (PETR3)</li>
                    <li style="font-size: 11px;">Sector: Mineral Extraction</li>
                    <!-- Colocar um if para checar se o numero de Var e negativo ou positivo e mudar cor 
                    Triangulo positivo = <i class="fa-solid fa-caret-up"></i> -->
                    <li style="font-size: 11px;">Close: R$14.23 Var: 3.56% <i class="fa-solid fa-caret-down" style="color: rgb(180, 0, 0);"></i></li>
                </ul>
            </div>
            <div class="columnB">
                <i class="fa-solid fa-chart-pie"></i>
            </div>
        </div>  
    </div>
    <div id='content9'>
        <div class="wrapper">
            <div class="columnA">
                <ul>
                    <li>Contact: Luiz M.</li>
                    <li>Your IP: 129.222.168.1</li>
                    <li>City:Manaus</li>
                    <li>Country:Brasil</li>
                </ul>
            </div>
            <div class="columnB">
                <lord-icon
                src="https://cdn.lordicon.com/zzcjjxew.json"
                trigger="hover"
                colors="primary:#000000,secondary:#000000"
                style="width:50px;height:50px">
            </lord-icon>
            </div>
        </div>
    </div>
    <main>
        <div class="item-grid">
            <li>Valor de Mercado</li>
            <p>R$ 4.517.170.000</p>
        </div>
        <div class="item-grid">
            <li>Nmro de Acoes</li>
            <p>348.010.000</p>
        </div>
        <div class="item-grid">
            <li>Volume diario</li>
            <p>R$ 199.195.000</p>
        </div>
        <div class="item-grid">
            <li>VPA</li>
            <p>-54,62</p>
        </div>
        <div class="item-grid">
            <li>ROE</li>
            <p>3,8%</p>
        </div>      
        <div class="chart-price">CHART PRICE</div>
    </main>
</div>