<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Test View</h1>
    {% for data in stock_data %}
    <form id="meu-form-{{ data.nome }}" action="#" method="POST">
        {% csrf_token %}
        <label for="nome" >Nome:</label>
        <input type="text" id="nome" name="nome"  value= "{{ data.nome }}" style="border: none; outline: none;" readonly>
        <label for="city">Cidade:</label>
        <input type="city" id="city" name="city"  value="{{ data.cidade }}" style="border: none; outline: none;" readonly>
        <label for="pais">Pais:</label>
        <input type="pais" id="pais" name="pais"  value="{{ data.pais }}" style="border: none; outline: none;" readonly>
        </form>

        <script>
        document.getElementById('meu-form-{{ data.nome }}').addEventListener('click', function() {
            document.getElementById('meu-form-{{ data.nome }}').submit();
        });
        </script>
    {% endfor %}
</body>
</html>