:root {
  --main-radius:10px;
  --main-padding:15px;
  --shadow: 10px 10px 13px -3px rgba(4, 4, 4, 0.5);
  --transition: 600ms
}

html,body {
  margin: 0;
  margin-right: 20px;
  background: rgba(12,11,16,1);
}

body::-webkit-scrollbar {
  width: .6rem;
}

body::-webkit-scrollbar-track {
  background: #0000f6; 
}

body::-webkit-scrollbar-thumb {
  background: #5c5c5c; 
}

.container {
  display:grid;
  height:calc(100vh - 10px); /* 10px=margin*/
  grid-template-columns: 90px 1fr 1fr 1fr 1fr;
  grid-template-rows: .5fr 1fr 1.3fr 1fr;
  grid-template-areas:
    "sidebar content1 content2 content2 content4"
    "sidebar content5 content6 content7 content8"
    "sidebar main main main content8"
    "sidebar main main main content9";
  grid-gap: .8rem;
  font-weight: 800;
  font-size: 16px;
  text-align: center;
  transition: var(--transition);
  color: rgb(255, 255, 255);
}

main {
  background: rgba(35,34,39,1);
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  margin: 10px 10px;
}

#sidebar {
  grid-area: sidebar;
  border-top-right-radius: var(--main-radius);
  border-bottom-right-radius: var(--main-radius);
  padding-top: var(--main-padding);
  background: rgba(35,34,39,1);
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: var(--main-padding);
}

#sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding-left: 2rem;
  height: calc(100% - 35px);
}

#sidebar li {
  padding: 20px;
  width: 100%;
  text-align: left;
}

.sidebar-link {
  display: flex;
  align-items: center;
  height: 1rem;
  filter: grayscale(100%) opacity(1);
  transition: var(--transition);
}

.sidebar-link i {
  display: flex;
  flex-direction: column;
  height: auto;
  font-size: 1rem;
}

.link-text {
  display: none;
  margin-left: 2rem;
}

#adjust-item1 {
  margin: 2.5rem;
}

#adjust-item2 {
  margin: 1.5rem;
}

#sidebar a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}


#sidebar li:last-child {
  margin-top: auto;
}

.fa-solid {
  color: rgb(255, 255, 255);
  transition: var(--transition);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.2ch;
  width: 100%;
}


.logo i {
  transform: rotate(0deg);
  transition: transform var(--transition);
}

#content1 {
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  margin-top: 15px;
  text-align: left;
  padding-left: 10px;
}

#content1 ul {
  display: flex;
  flex-direction: column;
}

#content2 {
  background: rgba(35,34,39,1);
  grid-area: content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content4 {
  background: rgba(35,34,39,1);
  grid-area: content4;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  margin: 15px 10px 0;
}

#content5 {
  background: rgba(35,34,39,1);
  grid-area: content5;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content6 {
  background: rgba(35,34,39,1);
  grid-area: content6;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content7 {
  background: rgba(35,34,39,1);
  grid-area: content7;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content8 {
  background: rgba(35,34,39,1);
  grid-area: content8;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  margin: 10px 10px;
}

#content9 {
  background: rgba(35,34,39,1);
  grid-area: content9;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  margin: 10px 10px;
}

@media only screen and (max-width:550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: .15fr .15fr 1fr 1fr 1fr 1fr 1fr 1fr 4fr .15fr;
    grid-template-areas:
      "sidebar"
      "content1"
      "content2"
      "content3"
      "content4"
      "content5"
      "content6"
      "main"
      "footer"
  }
  #sidebar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: unset;
  }
  #sidebar li {
    padding: var(--main-padding);
  }
  .logo {
    display: none;
  }
}

@media (hover:hover) {
  /* In plain English this is saying, “Do something to the .grid container if it contains an element named #sidebar inside 
  of it that is in a hover state.” That’s why :has() is often referred to as a “parent” selector. 
  We can finally select a parent based on the children it contains */
  .container:has(#sidebar:hover) { 
    grid-template-columns: 220px 1fr 1fr 1fr 1fr;
  }
  .sidebar-link:hover {
    filter: grayscale(0%) opacity(1);
    background: #46464650;
    border-radius: 10px;
    height: 30px;
    padding: 5px;
  }
  #sidebar:hover .link-text {
    display: block;
  }
  .logo a:hover {
    background: unset;
    height: unset;
    padding: unset;
  }
  .sidebar-link i {
    color: #3939ff;
  }

  #sidebar:hover .logo i {
    transform: rotate(180deg);
  }
}